.show
  .col-md-6
    = render 'players/player'

  .col-md-6
    .items
      - if @items.present?
        - @items.each do |item|
          = render 'equipment/items/item', item: item
      - else
        %h2 No items