.show
  .col-md-6.grid.col-md-offset-2
    = render 'players/player'

  .col-md-4
    .items
      - if @weapons.present?
        - @weapons.each do |item|
          = render 'equipment/items/item', item: item
      - else
        %h2 No equipment items

      - if @tools.present?
        - @tools.each do |item|
          = render 'tool/items/item', item: item
      - else
        %h2 No craft tools