%nav.navbar
  %ul
    %li= link_to 'Equipment', player_inventory_equipment_path, class: 'btn btn-default'
    %li= link_to 'Tools', player_inventory_tools_path, class: 'btn btn-default'
    %li= link_to 'Resources', player_inventory_resources_path, class: 'btn btn-default'
