.inventory
  .col-md-6.grid.col-md-offset-1
    %profile{':player'=>'currentPlayer'}

  .col-md-5
    = render 'menu'

    .items
      - if @weapons.present?
        - @weapons.each do |item|
          - cache item do
            = render 'equipment/items/item', item: item
      - else
        %h2 No equipment items

      - if @tools.present?
        - @tools.each do |item|
          - cache item do
            = render 'tool/items/item', item: item
      - else
        %h2 No craft tools

      - if @resources.present?
        - @resources.each do |item|
          - cache item do
            = render 'resources/items/item', item: item
      - else
        %h2 No craft resources
