.inventory.resources
  .col-md-6.grid.col-md-offset-1
    = render 'players/player'

  .items.col-md-5
    = render 'menu'

    - if @resources.present?
      - @resources.each do |resource|
        - cache resource do
          = render 'resources/items/item', item: item
    - else
      %h2 No craft resources
