.inventory.tools
  .col-md-6.grid.col-md-offset-1
    = render 'players/player'

  .col-md-5
    = render 'menu'

    .items
      - if @tools.present?
        - @tools.each do |item|
          - cache item do
            = render 'tool/items/item', item: item
      - else
        %h2 No craft tools
