.bots
  .bot
    .image
      margin-top: 20px
      margin-bottom: 20px
      min-height: 300px

    .attack-btn
      width: 100%
      display: inline-block
      margin-top: -104px

  .main-info, .stats-info
    display: inline-block

  .main-info
    float: left

    .image img
      border-radius: 5px

  .stats-info
    margin-top: 88px
    margin-left: 20px