.log, .players-online
  max-height: 200px
  overflow-y: scroll
  margin-top: 50px
  border-top: 2px solid #DADADA

  .event
    text-align: center

  span
    color: red
    font-weight: bold

.players-online
  p
    margin: 0