.stats
  a:hover
    cursor: pointer
    color: black
    text-decoration: none

  .stat
    font-size: 3rem

.player
  .avatar img
    margin: 0 auto
    display: block
    margin-top: 39px

  .player-name
    position: absolute
    margin-top: -35px
    margin-left: 172px
    font-size: 2rem

  .player-items
    float: left

    .weapon
      margin-top: -13px

    .cloak
      margin-top: 100px

    .belt
      margin-top: 208px

    .helmet, .armor, .gloves, .pants
      margin-left: 75px

    .necklace, .mail, .bracers, .foots
      margin-left: 273px

    .shield, .ring
      margin-left: 350px

    .helmet, .necklace
      margin-top: -20px

    .armor, .mail
      margin-top: 53px

    .gloves, .bracers
      margin-top: 146px

    .foots, .pants
      margin-top: 199px

    .shield
      margin-top: -14px

    .ring
      margin-top: 96px

    .item
      position: absolute
      padding-left: 4px

      a img
        max-width: 67px

      .stats
        background: #FFFDF8
        position: absolute
        padding: 19px
        top: 0
        width: 86%
        height: 89%
        margin-top: 10px
        display: none
        opacity: 0.9

        .stat
          font-size: 2rem

        .put-off
          top: 0
          position: absolute
          right: 0
          margin-right: 5px
          margin-top: 5px

    .tool
      margin-top: 42px
      display: inline-block

      img
        height: 48px

    .num-0
      margin-left: 84px

  .progresses
    max-width: 255px
    margin-left: 85px
    margin-top: 16px

    .progress
      height: 22px
      margin-bottom: -5px
      margin-top: 8px
    
.grid
  background: asset-url('players/grid.png')
  background-repeat: no-repeat
  min-height: 500px
  max-width: 455px
  position: relative

.inventory
  .navbar
    margin: 0

    ul
      padding: 0

.settings-avatars
  .avatar
    display: inline-block
    margin-right: 105px

    .active
      img
        border: 6px solid #5BC0DE