.stat
  font-size: 3rem

.profile
  min-width: 540px

  .avatar
    max-width: 400px

  .avatar
    float: left

  .avatar, .profile-items
    display: inline-block

  .profile-items
    .item
      margin-bottom: 2px
      padding: 10px
      background: #F1F1F1
      position: relative

      .stats
        background: #FFFDF8
        position: absolute
        padding: 19px
        top: 0
        width: 86%
        height: 89%
        margin-top: 10px
        display: none
        opacity: 0.9

        .stat
          font-size: 2rem

        .put-off
          top: 0
          position: absolute
          right: 0
          margin-right: 5px
          margin-top: 5px
    