.stat
  font-size: 3rem

.profile
  min-width: 540px

  .avatar
    max-width: 400px

  .avatar
    float: left

  .avatar, .profile-items
    display: inline-block

  .profile-items
    .item
      margin-bottom: 2px
      padding: 10px
      background: #F1F1F1