.items  
  .item
    margin-bottom: 30px
    background: #F7F7F7
    padding: 20px

    .top
      margin-bottom: 20px

    .item-img
      border-radius: 5px

    .stat
      font-size: 3rem

    .level
      float: right
      font-size: 3rem

    .buy-button
      display: block
      max-width: 200px