.center
  margin: 0 auto
  display: table

.header
  margin-top: 100px
  margin-bottom: 60px

.navbar
  display: table
  margin: 0 auto

  ul
    display: inline-block

  li
    list-style: none
    display: inline

  .gold
    display: inline-block
    margin-left: 10px

    img
      display: inline-block

    p
      display: inline-block

.background
  max-width: 100%

h1, h2, h3, h4, h5, h6
  margin: 0

.red
  color: red

a
  color: #333333

.alert
  margin-top: 20px