.item.row
  .col-md-3
    = image_tag item.image.url, class: 'item-img'

  .col-md-9
    .level
      = item.level_of_skill(current_user.player, item.type)

    %h2= item.name

    -# .attack.stat
    -#   = image_tag 'attack.png'
    -#   = item.attack

    -# .defense.stat
    -#   = image_tag 'defense.png'
    -#   = item.defense

    -# .hp.stat
    -#   = image_tag 'hp.png'
    -#   = item.hp

    .buy-button
      = item.buy_or_sell_button(current_user.player)