.the-elder-shop
  %h1.text-center= @location.name
  
  = image_tag 'locations/cities/moon_light/the_elder_shop/bg.jpg', class: 'background center'

  = link_to 'Items', equipment_categories_path, class: 'btn btn-default items-btn center'